body {
  margin: 0;
}

.header {
  text-align: center;
  font-size: 30px;
  background: linear-gradient(to bottom, #0066ff 0%, #00ccff 100%);
  color: #FFFAF8;
}

.tomato-background {
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
  background-color: tomato;
  border-radius: 50%;
  height: 400px;
  color: aliceblue;
  font-family: 'Mali', "Times New Roman", Times, serif;
  font-size: 20px;
}

.Pomodoro {
  margin:auto;
  max-width: 700px;
  display: flex;
  text-align: center;
  justify-content: center;

}

.breakTime, .sessionTime {
  margin: 10px;
  margin-top: 80px;
}

div #button {
  display: flex;
  align-items: center;
  justify-content: center;
}

div button {
  background: none;
  border: none;
  font-size: 30px;
}

#break-length , #session-length {
  margin: 0 10px 0 10px;
}

